ul {
	list-style-type: none;
}
hr {

}

.mid_wrapper {
	margin-top: 20px;
}

#nav_wrapper > nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

#nav_wrapper > nav > h2 {
	text-align: center;
}


#nav_wrapper > nav > ul > li {
	color:black;
	padding-top: 0px;
	width: 550px;
}

#nav_wrapper > nav > ul > li > p{
	font-size: 20px;
	background: lightgray;
}

#nav_wrapper > nav > ul > li > ul {
	margin-left: -20px;
}

#nav_wrapper > nav > ul > li > ul > li{
	color:black;
	padding-top: 0px;
	padding-bottom: 0px;
	padding: 0;
	width: 310px;
}

#nav_wrapper > nav > ul > li > ul > li > p{
	font-size: 16px;
	background: lightgray;
	margin: 10px;
}

#view_wrapper > div > p {
	font-size: 30px;
	text-align: center;

}

#gl_canvas {
	margin-left: 0px;
}

@media screen and (min-width: 1500px) {
    #gl_canvas {
        margin-left: 190px;
    }
}